---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navbar from "../../components/Navbar.astro";
import Quatuor_Memoire_Performance from "../../photos/Quatuor_Memoire_Performance.jpg";

const videos = ["https://www.youtube.com/embed/ZbatDxLbb7c"];
---

<BaseLayout title="Media">
  <div class="relative z-20">
    <Navbar page="media" locale="en" />
  </div>
  <div class="h-screen w-auto relative overflow-y-auto mx-auto">
    <img
      src={Quatuor_Memoire_Performance.src}
      alt=""
      class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
           h-[250vh] max-w-full object-contain opacity-20 pointer-events-none select-none z-1 overflow-hidden"
    />
    <div class="relative z-10">
      <div class="flex flex-col items-center justify-center gap-1">
        <div class="text-5xl font-[NeueMachinaRegular] text-white mt-10">
          Nos Performances
        </div>
        <div class="border-2 border-white h-1 w-sm"></div>
      </div>
      <div
        class="flex flex-row flex-wrap gap-4 items-start justify-center mt-8"
      >
        {
          videos.map((video) => (
            <iframe
              class="rounded-xl"
              width="560"
              height="315"
              src={video}
              title="YouTube video player"
              allowfullscreen
            />
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
