@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in forwards;
}

.gradient-border::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  /* match outer div rounded */
  padding: 2px;
  /* border thickness */
  background: linear-gradient(90deg, #BE7CC2, #B0AFB7, #ACCCE8);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}


@font-face {
  font-family: EditorialNewRegular;
  src: url('../fonts/EditorialNew-Regular.otf');
}

@font-face {
  font-family: EditorialNewUltraboldItalic;
  font-style: italic;
  src: url('../fonts/EditorialNew-Ultrabolditalic.otf');
}

@font-face {
  font-family: NeueMachinaRegular;
  src: url("../fonts/NeueMachina-Regular.otf");
}

@font-face {
  font-family: NeueMachinaBold;
  src: url("../fonts/NeueMachina-Ultrabold.otf");
}

@font-face {
  font-family: BebasNeueProRegular;
  src: url('../fonts/Bebas-Neue-Pro-Regular.ttf');
}

@font-face {
  font-family: BebasNeueProBold;
  src: url('../fonts/Bebas-Neue-Pro-Bold.ttf');
}