@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.animate-slideUp {
  animation: slideUp 1s ease-in;
}