---
import Navbar from "../../components/Navbar.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Facebook from ".././../photos/facebook.svg";
import Instagram from ".././../photos/instagram.svg";
---

<BaseLayout title="Contact Us">
  <Navbar page="contact" locale="en" />
  <div class="h-screen">
    <div
      class="flex flex-col justify-center items-center text-xl text-white mt-10"
    >
      <form
        action="https://api.web3forms.com/submit"
        method="POST"
        class="flex flex-col justify-center items-center gap-4"
      >
        <input
          type="hidden"
          name="access_key"
          value="c06b9c47-bc59-413c-914d-5534c6802cb1"
        />
        <div class="font-[BebasNeueProRegular] flex items-center gap-4">
          <label for="name">Name</label>
          <div class="gradient-border relative rounded-3xl">
            <input
              type="text"
              name="name"
              class="w-2xl max-sm:w-3xs h-fit text-lg p-2 rounded-3xl"
              required
            />
          </div>
        </div>
        <div class="font-[BebasNeueProRegular] flex items-center gap-4">
          <label for="email">Email</label>
          <div class="gradient-border relative rounded-3xl">
            <input
              type="email"
              name="email"
              class="w-2xl max-sm:w-3xs h-fit text-lg p-2 rounded-3xl"
              required
            />
          </div>
        </div>
        <div class="font-[BebasNeueProRegular] flex items-start gap-2">
          <label for="message">Message</label>
          <div class="gradient-border relative rounded-3xl">
            <textarea
              name="message"
              placeholder="Reach out ot us here!"
              class="w-2xl max-sm:w-3xs h-[calc(100vh/3)] text-lg p-2 rounded-3xl"
              required></textarea>
          </div>
        </div>
        <div class="relative gradient-border rounded-md">
          <button
            type="submit"
            class="rounded-md text-2xl px-6 py-2 hover:shadow-slate-600 hover:shadow-sm"
            >Submit</button
          >
        </div>
      </form>
      <div class="mt-16 max-sm:text-center">
        <div class="text-4xl font-[NeueMachinaRegular]">
          Follow us on social media
        </div>
      </div>

      <div class="flex flex-row gap-6 my-6">
        <a
          href="https://www.facebook.com/p/Quatuor-Mémoire-61553314296630/"
          target="_blank"
        >
          <Facebook class="w-24 h-auto" />
        </a>
        <a href="https://www.instagram.com/quatuormemoire/" target="_blank">
          <Instagram class="w-24 h-auto" />
        </a>
      </div>
    </div>
  </div>
</BaseLayout>
