---
let { date, info, address, tickets } = Astro.props;
---

<div class="flex justify-center gap-4">
  {
    date && (
      <div class="gradient-border relative rounded-xl">
        <div class="w-32 h-32 p-2 text-2xl text-center flex justify-center items-center text-white font-[EditorialNewRegular] rounded-xl border-2 gradient-border">
          {date}
        </div>
      </div>
    )
  }
  <div
    class="flex-1 text-xl text-white font-[BebasNeueProRegular] text-wrap flex flex-col items-start justify-center"
  >
    {info && <p>{info}</p>}
    {address && <p>{address}</p>}
    {
      tickets && (
        <a href={tickets} class="underline hover:text-blue-400" target="_blank">
          billets
        </a>
      )
    }
  </div>
</div>
