---
const pathname = Astro.url.pathname;
const currentLocale = pathname.startsWith("/en") ? "en" : "fr";
---

<div
  x-data={`{
    locale: '${currentLocale}',
    switchLocale() {
      const path = window.location.pathname;
      const newLocale = this.locale === 'en' ? 'fr' : 'en';
      let newPath;

      if (/^\\/(en|fr)/.test(path)) {
        newPath = path.replace(/^\\/(en|fr)/, '/' + newLocale);
      } else {
        newPath = '/' + newLocale + path;
      }

      window.location.pathname = newPath;
    }
  }`}
  x-init="console.log('Locale loaded:', locale)"
>
  <button
    @click="switchLocale()"
    class="px-3 py-1 border-2 border-black rounded bg-gray-100 hover:bg-gray-200 text-black"
  >
    <span x-text="locale === 'en' ? 'Français' : 'English'"></span>
  </button>
</div>
