---
const { page } = Astro.props;
---

<div class="flex max-md:flex-row gap-6 justify-between">
  <div class="text-9xl">Quatuor Mémoire</div>
  <div class="flex flex-col list-none gap-6">
    <ul>
      <li><a href="/index/">About</a></li>
      <li><a href="/calendar/">Calendar</a></li>
      <li><a href="/media/">Media</a></li>
      <li><a href="/press-kit/">Press Kit</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </div>
</div>
