---
let { page } = Astro.props;
---

<nav
  id="navbar"
  class="flex flex-row justify-between items-center mx-10 mt-5 text-white"
>
  <div class="text-6xl">Quatuor Mémoire</div>
  <div class="list-none">
    <ul class="flex flex-row gap-4 justify-around items-center text-lg">
      <li><a href="/index/">About</a></li>
      <li><a href="/calendar/">Calendar</a></li>
      <li><a href="/media/">Media</a></li>
      <li><a href="/press-kit/">Press Kit</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </div>
</nav>
