---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import { ClientRouter } from "astro:transitions";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body
    class="container mx-auto mt-6"
    style="background: conic-gradient(at bottom left, #57534e, #a8a29e, #e7e5e4);"
  >
    <slot />
  </body>
</html>
